.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.detailedHero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 3rem;
  margin: 0 auto;
  width: 100%;
  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin: 1.5rem 0;
    margin-top: 2rem;
  }
}
.heroInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .heroImg {
    border-radius: 15px;
    width: 360px;
    height: 450px;
  }
  .heroData {
    .heroPowerstats {
      display: flex;
      justify-content: space-around;
      gap: 1.5rem;
      padding-bottom: 2rem;
      flex-direction: row;
    }
    .lifeInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-bottom: 3rem;
      p {
        font-size: 20px;
        line-height: 1.7;
      }
      button {
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        transition: 0.5s ease-out;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}
@media (min-width: 900px) {
  .heroInfo {
    flex-direction: row;
  }
  .heroImg {
    width: 480px;
    height: 600px;
  }
  .lifeInfo {
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    gap: 4rem !important;
  }
}

.statImg {
  width: 40px;
}

.powerstat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
