$cardWidth: 450px;
$borderColor: #dee2e6;

img {
  width: $cardWidth;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 500px;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.articleBody {
  display: flex;
  flex-direction: column;
  width: $cardWidth;
  border: 1px solid $borderColor;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  h2 {
    margin: 20px;
    text-align: center;
  }
}
.cardAttrs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-top: 1px solid $borderColor;
  p,
  span {
    margin: 10px;
  }
  span {
    align-self: center;
  }
}
@media (min-width: 1000px) {
  img {
    width: 488px;
    height: 600px;
  }
  .articleBody {
    width: 488px;
  }
}
